<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config />
    <context:component-scan base-package="pl.df.owlToWiki"/>

    <context:property-placeholder location="classpath*:application.properties"/>

    <bean name="owlLoader" class="pl.df.owlToWiki.owl.OwlLoaderImpl">
        <property name="inputFiles">
            <list>
                <!--<value>/Users/dominikfilipiak/Downloads/DMOP/DCHARS.owl</value>-->
                <!--<value>/Users/dominikfilipiak/Downloads/DMOP/DMEX.owl</value>-->
                <!--<value>/Users/dominikfilipiak/Downloads/DMOP/DMKB.owl</value>-->
                <value>/Users/dominikfilipiak/Downloads/DMOP/DMOP.owl</value>
                <!--<value>/Users/dominikfilipiak/Downloads/DMOP/PD.owl</value>-->
                <!--<value>/Users/dominikfilipiak/Downloads/DMOP/RMOperators.owl</value>-->
                <!--<value>/Users/dominikfilipiak/Downloads/DMOP/catalog-v001.xml</value>-->
            </list>
        </property>
    </bean>

    <bean name="wikiBot" class="net.sourceforge.jwbf.mediawiki.bots.MediaWikiBot"/>

    <bean name="wikiFacade" class="pl.df.owlToWiki.wiki.WikiFacadeImpl">
        <property name="URL" value="${wiki.url}"/>
        <property name="userName" value="${wiki.userName}"/>
        <property name="password" value="${wiki.password}"/>
        <property name="wikiBot" ref="wikiBot"/>
    </bean>
</beans>