<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="pl.df.owlToWiki"/>

    <context:property-placeholder location="classpath*:application.properties"/>

    <!-- Main facade -->
    <bean name="owlToWikiFacade" class="pl.df.owlToWiki.facade.OwlToWikiFacadeImpl">
        <property name="owlLoader" ref="owlLoader"/>
        <property name="wikiWriter" ref="wikiWriter"/>
    </bean>

    <!-- Owl loader -->
    <bean name="owlLoader" class="pl.df.owlToWiki.facade.owl.OwlLoaderImpl">
        <property name="inputFiles" value="#{'${owl.files}'.split(',')}"/>
        <property name="rootRDFType" value="${owl.rootRDFType}"/>
        <property name="predicates" value="#{'${owl.predicates}'.split(',')}"/>
        <property name="articlesFactory" ref="articlesFactory"/>
    </bean>

    <!-- Articles -->
    <bean name="articlesFactory" class="pl.df.owlToWiki.facade.article.ArticlesFactory">
        <property name="individualArticleBuilder" ref="individualArticleBuilder"/>
        <property name="categoryArticleBuilder" ref="categoryArticleBuilder"/>
        <property name="templateArticleBuilder" ref="templateArticleBuilder"/>
    </bean>

    <bean name="individualArticleBuilder" class="pl.df.owlToWiki.facade.article.IndividualArticleBuilder">
        <property name="rootRDFType" value="${owl.rootRDFType}"/>
    </bean>

    <bean name="categoryArticleBuilder" class="pl.df.owlToWiki.facade.article.CategoryArticleBuilder">
        <property name="rootRDFType" value="${owl.rootRDFType}"/>
    </bean>

    <bean name="templateArticleBuilder" class="pl.df.owlToWiki.facade.article.TemplateArticleBuilder">
    <property name="rootRDFType" value="${owl.rootRDFType}"/>
    </bean>

    <!-- Wikipedia writer -->
    <bean name="wikiWriter" class="pl.df.owlToWiki.facade.wiki.WikiWriterImpl">
        <property name="userName" value="${wiki.userName}"/>
        <property name="password" value="${wiki.password}"/>
        <property name="mediaWikiBot" ref="mediaWikiBot"/>
    </bean>

    <bean name="mediaWikiBot" class="net.sourceforge.jwbf.mediawiki.bots.MediaWikiBot"/>

    <bean name="bot" class="net.sourceforge.jwbf.core.bots.HttpBot">
        <property name="client" ref="httpActionClient"/>
    </bean>

    <bean name="httpActionClient" class="net.sourceforge.jwbf.core.actions.HttpActionClient">
        <constructor-arg name="url">
            <value type="java.net.URL">${wiki.url}</value>
        </constructor-arg>
    </bean>

</beans>